.flex {
	display: flex;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1440px;
	height: 100vw;

	padding-top: 150px;
	padding-left: 128px;
	padding-right: 128px;
	padding-bottom: 150px;

	background-color: var(--color-bgr-page);
}