.filter {
	display: flex;
	gap: 18px;
	justify-content: center;
}

.list {
	display: flex;
	gap: 18px;
}

.item {
	display: flex;
	flex-direction: column;

	gap: 8px;
}

.label {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.29;

	color: var(--color-label);
}

.optionBrand,
.optionPrice,
.optionFrom,
.optionTo {
	padding-top: 14px;
	padding-bottom: 14px;

	border: none;
	background-color: var(--color-bgr-option);

	font-size: 18px;
	font-weight: 500;
	line-height: 1.11;
}

.optionBrand,
.optionPrice {
	padding-left: 18px;
	border-radius: 14px;
}

.optionFrom,
.optionTo {
	width: 160px;
	padding-left: 24px;
}

.optionBrand {
	min-width: 224px;
}

.optionPrice {
	width: 125px;
}

.optionFrom {
	border-radius: 14px 0 0 14px;
	border-right: var(--border-label);
}

.optionTo {
	border-radius: 0 14px 14px 0;
}

.optionMiles {
	display: flex;
}