.card {
	display: flex;
	flex-direction: column;
	position: relative;

	width: 100%;
	height: 100%;
	background: var(--color-bgr-page);
}

.img {
	width: 100%;
	height: 268px;

	border-radius: 14px;
	background: var(--gradient-img);
	object-fit: cover;
	background-repeat: no-repeat;
}

.model {
	display: flex;
	justify-content: space-between;
	padding-top: 14px;

	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
}

.itemColor {
	color: var(--color-btn-bgr);
}

.list {
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	row-gap: 4px;
}

.data {
	display: flex;
	flex-wrap: wrap;
	column-gap: 12px;

	color: var(--color-form-label);
}

.item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: baseline;
	position: relative;
}

.item:nth-child(n+2)::after {
	content: "";
	display: block;
	position: absolute;
	background-color: var(--color-line);
	width: 1px;
	height: 16px;
	left: -6px;
}

.btn {
	margin-top: auto;
}

.btnHeart {
	display: flex;
	position: absolute;
	/* justify-content: center;
	align-items: center; */
	top: 14px;
	right: 14px;

	width: 18px;
	height: 18px;

	cursor: pointer;

	border: red;
	color: var(--color-heart);

}

.iconHeart {
	fill: currentColor;
}