.sidebar {
	width: 160px;
	height: 100vw;
	padding: 10px;

	background-color: var(--color-bgr-filter);
}

.navigation {
	display: flex;
	flex-direction: column;
	position: fixed;

	padding-top: 12vw;
	padding-left: 8px;
	padding-right: 8px;
	gap: 16px;

	font-size: 24px;
}

.item {
	display: flex;

	width: 100%;
	padding: 10px;

	justify-content: center;
}

.item:hover,
.item:focus {
	color: var(--color-accent);
}