@import-normalize;

:root {
	--color-bgr-body: #12141766;
	--color-backdrop: #12141780;
	--color-bgr-page: #ffffff;
	--color-bgr-filter: #f7f7fb;
	--color-bgr-image: #f3f3f2;
	--color-bgr-item: #F9F9F9;
	--color-btn-text: #ffffff;
	--color-text: #121417;
	--color-another: #363535;
	--color-drop-list: #12141733;
	--color-label: #8a8a89;
	--color-form-label: #12141780;
	--color-btn-bgr: #3470ff;
	--color-accent: #0b44cd;
	--color-heart: #ffffffcc;
	--color-line: #1214171a;

	--time-animation: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	--gradient-img: linear-gradient(180deg, rgba(18, 20, 23, 0.50) 2.5%, rgba(18, 20, 23, 0.00) 41.07%);
}

body {
	display: flex;
	justify-content: center;

	margin: 0;
	background-color: var(--color-bgr-body);

	font-family: 'Manrope', sans-serif;
	font-size: 12px;
	line-height: 1.5;
	/* line-height: 18px; */

	color: var(--color-text);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}